@whitesource-adam:registry=https://wsdev.jfrog.io/artifactory/api/npm/haythem-npm/
//wsdev.jfrog.io/artifactory/api/npm/haythem-npm/:email=sultan.abu-baker@whitesourcesoftware.com
//wsdev.jfrog.io/artifactory/api/npm/haythem-npm/:always-auth=true
